label {
    position: absolute;
    color: #fff;
    top: 55px;
    left: 30px;
    font-size: 19px;
}

input {
    position: relative;
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 18px;
}

input:focus ~ label,
input:valid ~ label {
    top: 35px;
    color: blue;
    transition: .5s;
}

.formWrapper_form {
    max-width: 460px;
    height: 315px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
    background: linear-gradient(#141e30, #243b55);;
    border-radius: 23px;

    .formWrapper_email {
        padding: 60px 30px 0 30px;
        position: relative;

        .email_error {
            color: red;
            font-size: 15px;
            position: absolute;
            top: 10px;
            left: 70px;
        }

    }

    .formWrapper_password {
        position: relative;
        padding: 60px 30px 0 30px;

        .password_error {
            color: red;
            font-size: 15px;
            position: absolute;
            bottom: 55px;
            left: 58px;
        }
    }

    .formWrapper_logInButton {
        margin-top: 80px;

        button {
            width: 80px;
            height: 30px;
            border-radius: 5px;
            font-size: 21px;
            background: aqua;
            border: none;
        }

        button:active {
            background-color: red;
        }
    }
}