.list {
    margin: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
    list-style-type: none;
}

.text {
    display: block;
    height: 100px;
    margin: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
}

.textArea_button_block {
    text-align: center;
}

.textArea_button_block .textArea_edit_botton {
    margin-right: 20px;
    width: 80px;
    height: 35px;
}

.textArea_button_block .textArea_save_botton {
    margin-left: 20px;
    width: 80px;
    height: 35px;
}