.data_window {

  .data_window_inner {
    width: 50%;
    margin: 0 auto;
    height: 300px;
    background-color: blue;
    z-index: 1000;

    textarea {
      width: 300px;
      height: 100px;
      display: block;
      margin: 0 auto;
      transform: translate(0px, 35px);
    }
  }
}