.news_content_buttons {
  text-align: center;

  .editData_button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
  }

  .editData_button:active {
    background-color: red;
  }

  .saveData_button {
    margin: 0 0 0 50px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
  }

  .saveData_button:active {
    background-color: red;
  }
}