.header {
    background-color: whitesmoke;
    text-align: right;
    height: 70px;

    button {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        font-size: 17px;
        margin: 16px 50px 0px 0px;
    }

    button:active {
        background-color: red;
    }
}