.news_content {

    ul {
        text-align: center;
        .list {
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
            list-style-type: none;
        }

        .news_content_buttons {
            text-align: center;

            .editData_button {
                width: 80px;
                height: 30px;
                border-radius: 5px;
                font-size: 17px;
            }

            .editData_button:active {
                background-color: red;
            }

            .saveData_button {
                margin: 0 0 0 50px;
                width: 80px;
                height: 30px;
                border-radius: 5px;
                font-size: 17px;
            }

            .saveData_button:active {
                background-color: red;
            }
        }

        .textArea {
            margin-top: 100px;
            width: 50%;
            box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
            height: 70px;
        }

        .news_title_link {
            text-decoration: none;
            color: black;
        }

        .news_title_link:hover {
            color: red;
        }
    }
}




