.news_content {
  ul {
    text-align: center;

    .list {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
      list-style-type: none;

    }

    .news_title_link {
      text-decoration: none;
      color: black;
    }

    .news_title_link:hover {
      color: red;
    }
  }

  .textArea {
    margin-top: 100px;
    width: 50%;
    box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
    height: 70px;
  }
}




