.news_content {

  .textArea {
    display: block;
    height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
  }

  .button_block {
    text-align: center;
  }

  .button_block button {
    width: 100px;
    height: 35px;
    margin: 15px;
  }
}

  ul {
    text-align: center;


    .list {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 20%);
      list-style-type: none;

    }

    .news_title_link {
      text-decoration: none;
      color: black;
    }

    .news_title_link:hover {
      color: red;
    }
  }






